* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}


body {
    font-family: 'Inter', sans-serif;
    min-width: 768px;
    min-height: 100vh;
    background-color: #FCFCFD;
}

main {
    display: flex;
}