{% extends 'base.html' %}
{% set active_page = "experiences" %}

{% block content %}
<header class="section-header">
    <h2>{{experience.title}}</h2>
</header>
    <section class="one-experience">
        <div class="individual-section">
            <p>{{experience.description}}</p>
            <h4>{{experience.location}}</h4>
            <h3>Price: £{{experience.price}}</h3>
            <div class="buttons-container">
                <a href="/experiences/{{experience.id}}/edit" class="header-button-link primary-button">Edit</a>
                <form action="/experiences/{{experience.id}}/delete" method="post">
                    <button class="header-button-link delete-button">Delete</a>
                </form>
            </div>
        </div>
        <img id="experience-landscape" src="{{experience.image}}" alt="">
    </section>
{% endblock content %}